<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
>
<header>
	<title>Book list</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">

</header>

<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Bookstore</h1>
		</div>
		<div class="col-md-4">
			<h3 th:inline="text">Welcome
				[[${#httpServletRequest.remoteUser}]]</h3>
		</div>
		<div class="col-md-4" style="padding: 20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
			</form>
		</div>
		<table class="table table-striped">
			<thead>
				<th>Author</th>
				<th>Title</th>
				<th>Year</th>
				<th>ISBN</th>
				<th>Price</th>
				<th>Category</th>
				<th>Edit</th>
				<th>Delete</th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
			<thead>
			<tbody>
				<tr th:each="books : ${books}">
					<td th:text=${books.author}></td>
					<td th:text=${books.title}></td>
					<td th:text=${books.year}></td>
					<td th:text=${books.isbn}></td>
					<td th:text=${books.price}></td>
					<td th:text="${books.category.name}"></td>
					<td><a th:href="@{/edit/{id}(id=${books.id})} "
						class="btn btn-primary"> Edit </a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a
						th:href="@{/delete/{id}(id=${books.id})}"
						class="btn btn-xs btn-danger">Delete</a></td>

				</tr>
			</tbody>
		</table>
		<a href="/add" class="btn btn-success">Add Book</a>
	</div>
</body>
</html>